.card__button_type-like {
    height: 19px;
    width: 21px;
    align-self: center;
    padding-left: 26px;
    background: url(../../../../images/Group.svg) no-repeat center;
    cursor: pointer;
}

.card__button_type-like:hover {
    opacity: 0.5;
    transform: scale(1.3);
}

.card__button_type-like_active {
    opacity: 1;
    background: url(../../../../images/Union.svg) center no-repeat;
}