.popup__title {
    color: black;
    font-weight: 900;
    font-size: 1.5rem;
    line-height: normal;
    padding: 0;
    margin: 34px 64px 54px 36px;
}

@media screen and (max-width: 320px) {
    .popup__title {
        margin: 25px 22px 76px;
        font-size: 1.125rem;
    }
}